@font-face {
	font-family: "Titilium Web";
	src: url(../fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Titilium Web";
	border: none;
}

#contenedor {
	width: 100%;
	height: auto;
}

#lateral {
	width: 15%;
	height: 1000px;
	background-color: #334d99;
	display: flex;
	flex-direction: column;
}

#lateral * {
	font-weight: bold;
}

#logoSIMU {
	width: 100%;
	height: auto;
	margin: 25px auto;
}

 li {
	list-style: none;
	color: #fff;
	border-bottom: 1px solid #fff;
	padding: 30px;
	transition: .5s;
}

#lateral li:hover, li.activoMenu {
	color: #334d99;
	background-color: #fff;
}

#principal {
	width: 75%;
	height: 1000px;
	color: #000;
	display: flex;
	flex-direction: column;
	float: right;
}

#superior li {
	color: #000;
}

