<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/ej01A.css">
    <title>Layout</title>
</head>
<body>
    <div id="wrapper">
        <header></header>

        <nav></nav>

        <section id="medio">
            <div id="izq">
                <section class="izq"></section>
                <section class="izq"></section>
                <section class="izq"></section>
            </div>

            <main></main>

            <aside></aside>
        </section>

        <footer></footer>
    </div>
</body>
</html>